body {
    background-color: #F2F2F2;
    font-family: 'Raleway', sans-serif;
    font-size: small;
    margin: 0%;
}

.general {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.navMenu {
    display: flex;
    position: absolute;
    flex-direction: row; /* met le menu sur une ligne */
    align-items: center; /* place le menu au centre du header, en face du logo*/
    top: 25px;
    right: 100px;
}

.logo {
    max-width: 75px;
    width: 100%;
    position: absolute;
    top: 15px;
}

h3 {
    font-size: 19px;
}

h2 {
    font-size: 19px;
}

h1 {
    font-size: 19px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* met le logo à gauche et le menu à la fin */
    position: relative;
}

.navItem {
    padding: 20px 30px;
    color: rgb(88, 86, 86);
    font-weight: 700;
    border-top: 2px solid transparent;
}

.navWrapper {
    order: 1;
}

.navItem:hover {
    border-top: #0065FC solid 2px;
}

.inscription {
    position: absolute;
    right: 20px;
    color: #0065FC ;
    font-weight: 700;
    margin-left: 30px;
    padding-right: 0px;
    top: 25px ;
}

a {
    text-decoration: none;
}

a:hover {
    color: #509ef7;
}

.recherche {
    margin-top: 50px;
}

#recherchez {
    font-weight: bolder;
}

.plein {
    font-weight: 100;
    color: rgb(100, 100, 100);
}

.searchBar {
    margin-top: 25px;
    display: flex;
    justify-content: baseline;
}
.mapIcon {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    max-width: 36px;
    width: 100%;
    height: 36px;
    background-color: rgb(219, 219, 219);
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulaire {
    border: 0px;
    height: 36px;
    max-width: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
}

input::placeholder {
    font-family: 'Raleway', sans-serif;
    text-indent: 10px;
    font-weight: 700;
    color: black;
}

.butSearch {
    background-color: #0065FC;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 0px;
    max-width: 110px;
    min-width: 40px;
    width: fit-content;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    cursor: pointer;
}

.filtres {
    margin-top: 20px;
    display: flex;
}

.icoFiltre {
    display: flex;
    flex-wrap: wrap;
}

.filtre {
    font-weight: 600;
}

.showDesktop {
    display: block;
}

.showMobile {
    display: none;
}

.icone-bleu {
    color: #0065FC;
}

.ecoFam {
    display: flex;
}

.icones {
    display: flex;
    border: rgb(219, 219, 219) solid 2px;
    border-left: 0px;
    border-radius: 20px;
    margin-left: 25px;
    height: 40px;
    position: relative;
}

.icone2 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 40px;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(206, 237, 250);
    position: absolute;
}

.filtre2 {
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    border: 0px;
    border-radius: 15px;
    margin-left: 50px;
    margin-right: 7px;
}

.icones:hover {
    background-color: rgb(206, 237, 250);
    cursor: pointer;
}

.filtre2:hover {
    background-color: rgb(206, 237, 250);
    cursor: pointer;
}

button:focus {
    outline: 0;
}

.nombre {
    display: flex;
    justify-content: baseline;
    margin-top: 30px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 16px;
    width: 100%;
    height: 16px;
    border: rgb(219, 219, 219) 1px solid;
    border-radius: 8px;
    margin-top: 11px;

}

.dispo {
    margin-left: 15px;
    color: grey;
}

.layer1 {
    display: flex;
    justify-content: space-between;
}

.layer2 {
    display: flex;
    flex-direction: column;
    background-color: rgb(231, 228, 228);
    border-radius: 25px;
    padding: 30px;
}

.articles {
    display: flex;
    flex-direction: column;
}

.houseRow {
    display: flex;
    margin: 0px -30px 30px -30px;
}

.houseBox1 {
    background-color: #F2F2F2;
    margin: 0px 30px 20px 30px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    height: 180px;
    box-shadow: 1px 1px 6px #555;
    padding: 4px;
}

.photoMaison1 {
    margin-bottom: 0px;
    width: 100%;
    max-width: 280px;
    height: 100px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
}

.houseName {
    margin-left: 7px;
    font-weight: bolder;
    margin-bottom: 0px;
    margin-top: 7px;
    color: black;
}

.price {
    margin-left: 7px;
    margin-top: 5px;
    font-size: smaller;
    color: rgb(65, 64, 64);
}

.note {
    display: flex;
    margin-left: 7px;
}

.showMore {
    font-weight: 700;
    color: black;
}

.layer3 {
    display: flex;
    background-color:rgb(231, 228, 228);
    border-radius: 25px;
    margin-left: 30px;
    min-width: 330px;
    flex-direction: column;
    padding: 30px;
}


.pop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
}

.popIcon {
    width: 15px;
    height: 15px;
}

.popBox {
    background-color: #F2F2F2;
    max-width: 320px;
    margin-bottom: 30px;
    width: 100%;
    min-width: 210px;
    min-height: 120px;
    border-radius: 25px;
    display: flex;
    box-shadow: 1px 1px 6px #555;
    padding: 0px;
}

.photoPop {
    margin: 4px;
    max-width: 100px;
    width: 100%;
    height: 112px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    object-fit: cover;
}

.popText {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 5px;
}

.popName {
    font-weight: bolder;
    color: black;
    margin-bottom: 0px;
}

.popPrice {
    margin-top: 3px;
    font-size: smaller;
    color: rgb(65, 64, 64);
}

.notes2 {
    display: flex;
    margin-top: 15px;
}

.activites {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.activities {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
    margin: 0px -10px;
}

.activi1 {
    margin: 10px;
    max-width: 250px;
    width: 100%;
    height: 490px;
    border-radius: 25px;
    background-color: #ffffff;
}

.vieux {
    max-width: 250px;
    width: 100%;
    height: 430px;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 1px 1px 6px #555;
}

.acName {
    font-weight: 700;
    font-size: 16px;
    color: black;
    margin-left: 15px;
    margin-top: 15px;
}

.activi2 {
    margin: 10px;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 300px;
    height: 490px;
}

.pom {
    max-width: 250px;
    width: 100%;
    height: 280px;
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 1px 1px 6px #555;
}

.pomImg {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    max-width: 300px;
    width: 100%;
    height: 220px;
}

.acItem {
    max-width: 250px;
    width: 100%;
    height: 190px;
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 1px 1px 6px #555;
}

.acImg {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    max-width: 250px;
    width: 100%;
    height: 130px;
    object-fit: cover;
}

.acItem3 {
    max-width: 250px;
    width: 100%;
    height: 230px;
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 1px 1px 4px #555;
}

.acImg3 {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    max-width: 250px;
    width: 100%;
    height: 170px;
    object-fit: cover;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(224, 223, 223); ;
    margin-top: 100px;
    width: 100%;
    height: 230px;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footerItem {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.footTitle {
    font-size: 16px;
    font-weight: 700;
}

.footerLink {
    display: flex;
    flex-direction: column;
    color: rgb(88, 86, 86);
    margin-top: 10px;
}

.footerBlank {
    width: 30%;
}

@media only screen and (min-width: 800px) and (max-width: 1100px)
{
    .layer1 {
        display: flex;
        flex-direction: column-reverse;
    }

    .layer3 {
        margin: 0px;
        margin-bottom: 20px;
    }

    .popWrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: -10px;
    }

    .popText {
        margin: 0px;
    }

    .popBox {
        margin-left: 10px;
    }

    .activites {
        padding: 40px;
    }

    .activities {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
    }

    .activi1 {
        width: 45%;
        height: auto;
        max-width: none;
    }

    .vieux {
        width: 100%;
        height:320px;
        max-width: none;
    }

    .activi2 {
        max-width: none;
        width: 45%;
        height: auto;
    }

    .pom {
        max-width: none;
        width: 100%;
        height: auto;
    }

    .pomImg {
        width: 100%;
        height: 130px;
        max-width: none;
    }

    .acItem {
        max-width: none;
        height: auto;
        width: 100%;
    }

    .acImg {
        max-width: none;
        height: 130px;
    }

    .acItem3 {
        max-width: none;
        height: auto;
        width: 100%;
        margin-bottom: 20px;
    }

    .acImg3 {
        max-width: none;
        height: 130px;
    }

}

@media only screen and (max-width: 800px)
{
    .general {
        padding: 0px;
    }

    .navMenu {
        top: 60px;
        right: 0;
        left: 0;
        align-items: center;
        justify-content: center;
    }

    .navItem {
        padding-left: 40px;
        padding-right: 40px;
    }

    .navItem:hover {
        border-bottom: #0065FC solid 2px;
        border-top: transparent solid 2px;
    }

    .recherche {
        padding: 30px;
    }

    .logo {
        left: 10px;
    }

    .showDesktop {
        display: none;
    }

    .showMobile {
        display: block;
    }

    .filtres {
        flex-direction: column;
    }

    .filtre {
        margin-left: 30px;
   }

    .icones {
        width: fit-content;
        margin-top: 15px;
    }

    .nombre {
        padding: 30px;
    }

    .layer1 {
        display: flex;
        flex-direction: column-reverse;
    }

    .layer2 {
        margin-top: 15px;
    }

    .layer3 {
        margin: 0px;
        min-width: 0px;
    }

    .articles {
        margin-top: 20px;
    }

    .houseRow {
        flex-direction: column;
        margin-top: -20px;
    }

    .photoMaison1 {
        max-width: none;
    }

    .popBox {
        min-width: 100%;
    }

    .activites {
        padding: 40px;
    }

    .activities {
        flex-direction: column;
        width: 100%;
    }

    .activi1 {
        width: 100%;
        height: auto;
        max-width: none;
    }

    .vieux {
        width: 100%;
        height:130px;
        max-width: none;
    }

    .activi2 {
        max-width: none;
        width: 100%;
        height: auto;
    }

    .pom {
        max-width: none;
        width: 100%;
        height: auto;
    }

    .pomImg {
        width: 100%;
        height: 130px;
        max-width: none;
    }

    .acItem {
        max-width: none;
        height: auto;
        width: 100%;
    }

    .acImg {
        max-width: none;
        height: 130px;
    }

    .acItem3 {
        max-width: none;
        height: auto;
        width: 100%;
        margin-bottom: 20px;
    }

    .acImg3 {
        max-width: none;
        height: 130px;
    }

    .acName {
        font-size: 12px;
    }

    .footer-wrapper {
        display: flex;
        padding: 30px;
        flex-direction: column;
        background-color:rgb(224, 223, 223);
    }

    .footerItem {
        width: 100%;
    }
}