body {
    background-color: #F2F2F2;
    font-family: 'Raleway', sans-serif;
    font-size: small;
}

.general {
    margin-left: 30px;
}

.navMenu {
    display: flex;
    flex-direction: row; /* met le menu sur une ligne */
    align-items: center; /* place le menu au centre du header, en face du logo*/
    justify-content: space-between;
    margin-right: 15%;
}

.logo {
    width: 75px;
    display: flex;
}

header {
    display: flex;
    justify-content: space-between; /* met le logo à gauche et le menu à la fin */
    margin-top: 1%;
}

.navItem {
    margin-right: 15%; /* espacement des liens du nav menu */
    color: rgb(88, 86, 86);
    font-weight: 700;
}

#inscrire {
    color: #0065FC ;
    font-weight: 700;
}

a {
    text-decoration: none;
}

a:hover {
    color: #509ef7;
}

.recherche {
    margin-top: 50px;
}

#recherchez {
    font-weight: bolder;
}

#plein {
    font-weight: 100;
    color: rgb(100, 100, 100);
}

.searchBar {
    margin-top: 25px;
    margin-left: 50px;
    display: flex;
    justify-content: baseline;
}
.mapIcon {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 36px;
    height: 36px;
    background-color: rgb(219, 219, 219);
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulaire {
    border: 0px;
    height: 36px;
    width: 200px;
    display: flex;
    justify-content: center;
}

input::placeholder {
    font-family: 'Raleway', sans-serif;
    text-indent: 10px;
    font-weight: 700;
    color: black;
}

.butSearch {
    background-color: #0065FC;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 0px;
    width: 110px;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}

.filtres {
    margin-top: 20px;
    display: flex;
}

#filtre {
    font-weight: 600;
}

